body {
    margin: 0px;
}

h1 {
    font-size: 50px;
}

h1, h2, h3, p {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #74B9FF;
    background-size: 110vw;
    height: 300px;
}

#avatar {
    height: 40px;
    border-radius: 50px;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("home.jpg");
    background-size: 110vw;
}

.point {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#connexion {
    display: flex;
    align-items: center;
}

#bouton {
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    text-decoration: underline;
}

.picto {
    height: 100px;
}